# ---------------------
# Python
# ---------------------
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
site-packages/
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
.venv/
env/
.env/
.envrc
*.env

# Pyenv
.python-version
.pyenv/

# ---------------------
# Django
# ---------------------
*.log
db.sqlite3
/media/
/staticfiles/
*.pot
*.pyc
*.pyo
local_settings.py
settings_local.py
__pycache__/
celerybeat-schedule

# ---------------------
# PostgreSQL
# ---------------------
pgdata/
postgres_data/
*.sql
*.dump

# ---------------------
# macOS
# ---------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# ---------------------
# Docker
docker-compose.override.yml
.docker/
.docker-compose/
docker-volumes/
volumes/
db-data/
pgdata/
mysql-data/
postgres_data/
*.tar
*.img
*.pid
*.log

# ---------------------
# Editors and IDEs
# ---------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~

# ---------------------
# Git
# ---------------------
.git/
.gitignore